@import "compass/css3";

div {
  margin-top: 10px;
}

label {
  padding-right: 8px;
}

body {
  text-align: center;
  overflow-x: hidden;
}


#coin {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ccc;
  border: #999 solid 2px;
  top: 30px;
  position: absolute;
  cursor: pointer;
  z-index: 3;

  &.active {
    animation: none;
  }
}

.money {
  width: 120px;
  height: 60px;
  position: absolute;
  z-index: -1;
  border: solid 2px #006600;

  .pres {
    margin: 0 auto;
    margin-top: 10px;
    height: 40px;
    width: 30px;
    background: #006600;
    border-radius: 50%;
  }

  &#bill1 {
    background: #009933;
    top: 200px;
    transform: rotate(20deg);

    &.fly {
      animation: billfly1 1s infinite;
    }
  }

  &#bill2 {
    background: #009933;
    top: 200px;
    transform: rotate(-10deg);

    &.fly {
      animation: billfly2 1s infinite;
    }
  }

  &#bill3 {
    background: #009933;
    top: 200px;
    transform: rotate(40deg);

    &.fly {
      animation: billfly3 1s infinite;
    }
  }

  &#bill4 {
    background: #009933;
    top: 200px;
    transform: rotate(5deg);

    &.fly {
      animation: billfly4 1s infinite;
    }
  }

  &#bill5 {
    background: #009933;
    top: 200px;
    transform: rotate(-30deg);

    &.fly {
      animation: billfly5 1s infinite;
    }
  }

  &#bill6 {
    background: #009933;
    top: 200px;
    transform: rotate(-10deg);

    &.fly {
      animation: billfly6 1s infinite;
    }
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #FFFF94;
  }

  to {
    box-shadow: 0 0 10px 5px #FFFF94;
  }
}

@keyframes smile {
  from {
    border-radius: 0 0 5% 5%;
  }

  to {
    border-radius: 0 0 50% 20%;
  }
}

@keyframes billfly1 {
  from {
    left: 0;
    top: 200px;
  }

  to {
    left: 110%;
    top: 300px;
  }
}

@keyframes billfly2 {
  from {
    left: 0%;
    top: 200px;
  }

  to {
    left: 110%;
    top: 150px;
  }
}

@keyframes billfly3 {
  from {
    left: 50%;
    top: 200px;
  }

  to {
    left: 110%;
    top: 180px;
  }
}

@keyframes billfly4 {
  from {
    left: 0;
    top: 200px;
  }

  to {
    left: 110%;
    top: 100px;
  }
}

@keyframes billfly5 {
  from {
    left: 0;
    top: 200px;
  }

  to {
    left: 110%;
    top: 190px;
  }
}

@keyframes billfly6 {
  from {
    left: 0;
    top: 200px;
  }

  to {
    left: 110%;
    top: 250px;
  }
}
